html, body {
  height: 100%;
  background-color: #bdbde974, 74, 75);
}

.cover-container{
  background-image: url(portfolio4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  width: 100%;
}

.masthead-brand {
  font-family: 'Cinzel', serif;
  color:black;
  background-color: cadetblue;
  opacity:60% ;
  font-weight: bold;
}

.service-header {
  font-family: 'Cinzel', serif;
}

.lead, .cover-heading {
  color: black;
  font-family: 'Lato', sans-serif;
}

.service-lead {
  color: #003e80;
  font-family: 'Lato', sans-serif;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

.blackquote {
  color: white;
  background: rgba(155, 155, 155, 0.6);
}



/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  font-size: 40px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: hsl(181, 39%, 42%);
  color: white;
}

.carousel-caption{
  color:black;
  font-size: large;


}
.item{
  color: black;
}
.zen-port{
text-align: center;
background-color: rgb(67, 162, 165);
opacity: 70%;
font-weight: bold;
font-color:black;
}